@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
*{   
 box-sizing: border-box;
}
 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    padding: 16px;
    position: relative;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
}
h1{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-size: xx-large;
}
.city{
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: relative;
}
.city-name{
    font-size: medium;
    font-weight: 700;
    align-self: center;
}
.fa-location-dot{
    margin-right: 8px;
    font-size:large;
}
.explore-restaurant{
  text-align: center;
  background-color: #fafafa;
  padding: 32px;
}
h2{
    margin: 0px;
    font-size: x-large;
    font-weight: bold;
}
.explore-restaurant p{
    font-size: medium;
    font-weight: 300;
    margin: 24px 0;
}
.explore-restaurant button{
background-image: linear-gradient(#FF79DA,#9356DC);
cursor:pointer;
color: #fafafa;
border-radius: 80px;
font-weight: 400;
font-size: larger;
border: none;
padding: 16px 24px;
margin-bottom: 22px;
}
.fonctionnement{
    padding: 32px 16px;
}
.title{
    font-weight: bold;
    font-size: x-large;
    padding: 5% 1%;
}
.steps{
    DISPLAY: FLEX;
    FLEX-DIRECTION: column;
    justify-content: center;
    gap: 20%;
    padding: 0%;
    margin: 0%;
}
.step{
    display:flex;
    padding: 26px;
    gap: 5%;
    border-radius: 20px;
    background-color: #f6f6f6;
    margin: 16px 0px 16px 12px;
    align-items: baseline;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 15%);
}
.step:hover{
    background-color:#E6E6FA;
}
.step-number{
  font-size: 15px;
  font-weight: normal;
  position: relative;
  background: #9356dc;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step i{
    margin-right: 8px;
    color: grey;
}
.step:hover i{
    color: #9356dc;
}
#restaurants{
    background-color: #f6f6f6;
    padding: 32px 16px;
}
.list-of-cards{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 20px;
}
.restaurant-card{
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    text-decoration: none;
    color: inherit;
}
.restaurant-image{
    height: 200px;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 16px 16px 0 0;
    box-shadow: none;
    object-fit: cover;
}
.new{
    background-color: #99e2d0;
    color: #1b6150;
    padding: 8px;
    border-radius: 2px;
    position: absolute;
    top: 16px;
    right: 12px;
}
.restaurant-info{
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
h3{
    margin: 0 0 4px;
    font-weight: bold;
    font-size: large;
}
.footer{
    background-color: #353535;
   
}
.footer-part{
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.footer-logo{
    color: #fff;
    font-family: Shrikhand,"cursive";
    font-size: large;
    margin: 0 0 16px;
}
.footer-list{
padding: 0;
margin: 0;
list-style: none;
}
.footer-line{
margin: 8px 0;
}
.footer-link{
text-decoration: none;
color: #fff;
}
.footer i{
width:20px ;
margin-right: 8px;
}